<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>/<%= name %></title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    You are on the <%= name %> Subreddit!

    <h2><%= description %></h2>

    <p><%= subscribers %> total subscribers</p>

    <p>These are the posts:</p>

    <ul>
      <% for (let post of posts){ %>
      <li>Title: <%= post.title %></li>
      <% if (post.hasOwnProperty("img")) { %>
      <img src="<%= post.img %>" alt="Post Image" />
      <% } %>
      <br />
      Author: <%= post.author %>
      <br />
      <br />
      <% } %>
    </ul>
  </body>
</html>
